/* Primary rgb(174, 235, 214)*/
/* Secondary #404040*/

body {
  background-color: #000000;
  color: rgb(174, 235, 214);
}

pre {
  background-color: #404040;
  font-size: 10px;
  font-family: monospace;
  max-height: 400px;
  overflow: auto;
}

input {
  background-color: #404040;
  color: rgb(174, 235, 214);
  border: 1px solid;
  height: 20px;
}

hr {
  border: 1px inset rgb(174, 235, 214);
}

button {
  background-color: #404040;
  color: rgb(174, 235, 214);
  height: 24px;
  border-color: rgb(174, 235, 214);
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

.action-input {
  width: 450px;
  margin-right: 15px;
}